<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Buffalo Open Device Lab</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">

	{% block stylesheets %}
		<link href='http://fonts.googleapis.com/css?family=Exo|Alegreya:700|Armata|Orbitron:700' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="{{ asset('/bundles/twitter/bootstrap/docs/assets/css/bootstrap.css') }}">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
	{% endblock %}

</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div class="container-fluid" id="wrapper">
            <div id="breadcrumbs" class="row-fluid">
                <div class="container-fluid">
                    <div id="bread-wrap" class="row-fluid">
                    {% block breadcrumbs %}
                        <div id="nav" class="span5">
                            <a href="#what-is"><i class="icon-book"></i></a>
                            <a href="#device-list"><i class="icon-mobile-phone"></i></a>
                            <a href="#contact"><i class="icon-home"></i></a>
                        </div>
						<div class="span3">
						</div>

                        <div class="span2">
                            <a href="#banner" id="b2top" class="b2top link pull-right">Back to top</a>
                        </div>
                    {% endblock %}
                    </div>
                </div>
            </div>
		<div id="banner" class="row-fluid">
			<div class="row-fluid" id="image">
				<div class="span9" >
					<h1>
						Buffalo 
						<br/>
						<span id="logo_wrapper"><span class="color">O</span>pen <span class="color">D</span>evice <span class="color">L</span>ab</span>
					</h1>
				</div>
				<!--
				<div class="span3 well" style="background-color: rgba(255,255,255,0.2);margin-top:20px;">
					<p class="text-center" style="display:block; ">This site is currently under heavy construction, please bear with us while we polish our finishing touches<span class="muted"><i> - Buffalo ODL</i></span></p>
				</div>
				-->
			</div>
		</div>
		<div id="content-wrapper">

			{% include 'OpenDeviceLabApplicationBundle::flashes.html.twig' %}
			{% block body %}
			{% endblock %}
		</div>

		<div id="footer" class="row-fluid">
				<div class="span6" id="dev-links">
					<a href="http://developer.android.com/index.html"><i class="icon-android"></i></a>
					<a href="https://developer.apple.com/"><i class="icon-apple"></i></a>
					<a href="http://developer.windowsphone.com/en-us/develop"><i class="icon-windows"></i></a>
				</div>
				<div class="span6">
					<a href="https://www.facebook.com/BuffaloOdl"><i class="icon-facebook"></i></a>
					
					<a href="https://github.com/orloc/buffalo_odl"><i class="icon-github"></i></a>

					<a href="https://twitter.com/BuffaloODL"><i class="icon-twitter"></i></a>
				</div>
		</div>

		{% block javascripts %}
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&sensor=true">
	</script>

			<script src="{{ asset('/bundles/twitter/bootstrap/docs/assets/js/bootstrap.min.js') }}"></script>
			<script src="{{asset('/assets/js/main.js') }}"></script>
			<script src="{{asset('/assets/js/map.js') }}"></script>
		{% endblock %}
	</div>
</body>
</html>
