<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Ready, Set, Nets Administration Panel</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">

	{% block stylesheets %}
		<link href='http://fonts.googleapis.com/css?family=Exo|Alegreya:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ asset('/bundles/twitter/bootstrap/docs/assets/css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
	{% endblock %}

</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div id="wrapper" class="container">
		<div id="breadcrums" class="row">
			meow
		</div>
		<div id="banner" class="row">
			<h1>Buffalo Open Device Lab</h1>

		</div>
		<div id="navigation" class="row">
			<div id="about_us" class="span4">
			</div>
			<div id="devices" class="span4">
				<a href="#"><img src="{{ asset('/assets/img/modbile-overlay.png') }}"></a>
			
			</div>
			<div id="locations" class="span4">
			</div>
		</div>

		<div class="container">
			{% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
			{% for alert in alertTypeAvaillable %}
				{% if app.session.getFlashBag.has(alert) %}
					<div class="alert alert-{{ alert }}" >
						<button class="close" data-dismiss="alert">×</button>
						{{ app.session.getFlashBag.get(alert)|trans }}
					</div>
				{% endif %}
			{% endfor %}
		</div>

		{% block body %}
		{% endblock %}

		<div id="footer" class="row">
		<p> meow</p>
		</div>

		{% block javascripts %}

			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ google.api_key }}&sensor=true">
    </script>
			<script src="{{asset('/assets/js/map.js') }}"></script>
		{% endblock %}
	</div>
</body>
</html>
