<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Buffalo Open Device Lab</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width">

	{% block stylesheets %}
		<link href='http://fonts.googleapis.com/css?family=Exo|Alegreya:700|Armata|Orbitron:700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ asset('/bundles/twitter/bootstrap/docs/assets/css/bootstrap.css') }}">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
	{% endblock %}

</head>
<body>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div id="wrapper" class="container">
		<div id="breadcrumbs" class="row">
			<div class="container">
				<a href="#banner" id="b2top" class="link pull-right">Back to top</a>
				<span>Buffalo ODL</span>
			</div>
		</div>
		<div id="banner" class="row">
			<div class="row" id="image">
				<div class="span8" >
					<h1>
						Buffalo 
						<br/>
						<span id="logo_wrapper"><span class="color">o</span>pen <span class="color">d</span>evice <span class="color">l</span>ab</span>
					</h1>
				</div>
				<div class="span3 well" style="background-color: rgba(255,255,255,0.2);margin-top:20px;">
					<p class="text-center" style="display:block; ">This site is currently under heavy construction, please bear with us while we polish our finishing touches<span class="muted"><i> - Buffalo ODL</i></span></p>
				</div>
			</div>
		</div>
		<div id="navigation" class="row">
			<div id="about_us" class="span4">
				<a href="#bullets">
					<img src="{{ asset('/assets/img/light-blownup.png') }}">
					<span class="link-over">About Us</span>
				</a>
			</div>
			<div id="devices" class="span4">
				<a href="#device-list">
					<img src="{{ asset('/assets/img/mobile-overlay.png') }}">
					<span class="link-over">Devices</span>
					</a>

			</div>
			<div id="locations" class="span4">
				<a href="#map-canvas">
					<img src="{{ asset('/assets/img/house-blownup.png') }}">
					<span class="link-over">Locations</span>
				</a>
			</div>
		</div>
		{% block body %}
		{% endblock %}

		<div id="footer" class="row">

				<a class="btn"><i class="icon-facebook"></i></a>
				<a class="btn"><i class="icon-twitter"></i></a>
		</div>

		{% block javascripts %}
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&sensor=true">
    </script>

			<script src="{{asset('/assets/js/main.js') }}"></script>
			<script src="{{asset('/assets/js/map.js') }}"></script>
		{% endblock %}
	</div>
</body>
</html>
