<div id="device-list" class="row-fluid">
	<div class="main_content_wrapper">
		<table class="table table-bordered table-stripped table-hover">
			<caption>
				<h3 id="device-label">Availalbe Devices</h3>
			</caption>
			<thead id="current-head">
				<tr>
					<th>
						Manufacturer
					</th>
					<th>
						Model
					</th>
					<th> 
						OS/Version
					</th>
					<th>
						Contributed By
					</th>
					<th>
						Status
					</th>
				</tr>
			</thead>
			<thead id="wanted-head">
				<tr>
					<th>
						Manufacturer
					</th>
					<th>
						Model
					</th>
					<th> 
						OS/Version
					</th>
					<th>
						Status
					</th>
				</tr>
			</thead>

			<tbody id="current-devices">
				{% for device in available%}
					<tr>
						<td>
							{{ device.getManufacturer() }}
						</td>
						<td>
							{{ device.getModel() }}
						</td>
						<td>
							{{ device.getOperatingSystem() }}
						</td>
						<td>
							{{ device.getDonatedBy() }}
						</td>
						<td>
							<span class="label {% if device.getStatus() == 1%}label-success {% else %} label-warning {% endif %}">{{ device.getNiceStatus() }}</span>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tbody id="wanted-devices">
				{% for device in wanted%}
					<tr>
						<td>
							{{ device.getManufacturer() }}
						</td>
						<td>
							{{ device.getModel() }}
						</td>
						<td>
							{{ device.getOperatingSystem() }}
						</td>
						<td>
							<span class="label label-danger">{{ device.getNiceStatus() }}</span>
						</td>
					</tr>
				{% endfor %}
			</tbody>

		</table>

		<a id="switch-table">Switch to our Wish List</a>
		<p>If you have old or unused devices and would like to contribute please get in touch with us!</p>
	</div>
</div>
